/*BODY STYLES*/
body{
   
    
    
}

h2{
    font-size: 1em;
}



/*============================================================TOP
==============================================================*/

#top{
    background:
      /*          linear-gradient(
 rgba(0,0,0,0.5),
rgba(128,128,128,0.5)),*/
        url(../img/back1.jpg);
    background-repeat: no-repeat;
    background-size:contain;
      height: 46em;
    width: 100%;
    
}

.head{
    margin-top: 10em;
}
header{
    margin-top: 5em;
}

/*nav*/
nav a{
    margin: 1.5em;
}

/*============================================================ABOUT
==============================================================*/

/*============================================================BLOG
==============================================================*/


/*============================================================PORTFOLIO
==============================================================*/

/*============================================================MEMBERS
==============================================================*/

/*============================================================CONTACTS
==============================================================*/