/*BODY STYLES*/
body{
    height: 150em;
   background-color: black;
    color: whitesmoke;
    
    
}

h2{
    font-size: 1em;
}

.row{
    margin: 2em;
}

/*============================================================TOP
==============================================================*/

::before::after{
    clear:"";
}

#top{
    
    
      /*          linear-gradient(
 rgba(0,0,0,0.5),
rgba(128,128,128,0.5)),*/
        background-image:  url(../img/back3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
      height: 35em;
    width: 100%;
    opacity: 1;
   
    
}



header{
    
    margin-top: 5em;
    text-align: center;
    color: #754D8B;
}

/*nav*/
.head{
    
    
}
.head nav{
    position: relative;
    
}



nav a{
    margin: 1.5em;
}


/*.clicky{
    border:2px solid orange;
    height: 3em;
    width: 10%;
}*/




    
}

/*============================================================ABOUT
==============================================================*/
#about{
    height: 50em;
    width: 90%;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    
    
}
#about p{
    margin: 3em;
    
}

/*============================================================BLOG
==============================================================*/


/*============================================================PORTFOLIO
==============================================================*/
#portfolio{
    background-color: whitesmoke;
  border: 3px solid black; 
    height: 55em;
    width: 93%;
   opacity: 0.8;
    border-radius: 5%;
}
.show img{
    border: 1px solid black;
}



/*============================================================MEMBERS
==============================================================*/
#members{
    margin-top: 5em;
    
}
#members .columns img{
    border: 2px solid whitesmoke;
    
}
#members .columns{
   
}


/*============================================================CONTACTS
==============================================================*/
button{
    height: 3em;
    width: 12%;
    border: 1px solid whitesmoke;
    
}


