/*BODY STYLES*/
body{
    height: 170em;
   background-color: black;
    color: whitesmoke;
    
    
}

h2{
    font-size: 1em;
}

.row{
    margin: 2em;
}

/*============================================================TOP
==============================================================*/

::before::after{
    clear:"";
}

#top{
    
    
      /*          linear-gradient(
 rgba(0,0,0,0.5),
rgba(128,128,128,0.5)),*/
        background-image:  url(../img/back2.jpg);
    background-repeat: no-repeat;
    background-size:contain;
      height: 55em;
    width: 100%;
    opacity: 1;
   
    
}



header{
    
    margin-top: 5em;
    text-align: center;
    color: #754D8B;
}

/*nav*/
.head{
    
    
}
.head nav{
    position: relative;
    
}



nav a{
    margin: 1.5em;
}


/*.clicky{
    border:2px solid orange;
    height: 3em;
    width: 10%;
}*/




    
}

/*============================================================ABOUT
==============================================================*/
#about{
    height: 50em;
    width: 100%;
    
    
}

/*============================================================BLOG
==============================================================*/


/*============================================================PORTFOLIO
==============================================================*/
.2{
    background-color: whitesmoke;
  border: 3px solid black; 
    height: 100em;
    width: 100%;
}

.show im
 
border: 3px solid #3B214A;
    
    
}
.show div{
    margin-top: 3em;
  
    
}


/*============================================================MEMBERS
==============================================================*/
#members{
    margin-top: 5em;
    
}
#members .columns img{
    border: 2px solid #3B214A;
    
}
#members .columns{
    margin-top: 2em;
}


/*============================================================CONTACTS
==============================================================*/